/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--section-padd);
  background-color: var(--input-bg);
  height: 80vh;
  width: 100%;
}
header .header-image svg {
  position: absolute;
  z-index: 1000;
}
header .header-image svg:nth-child(3) {
  top: 80px;
  left: 40px;
}
header .header-image svg:nth-child(2) {
  bottom: 80px;
  right: 20px;
}
header .header-image {
  width: 40%;
  overflow: hidden;
  height: 100%;
  position: relative;
}
header .header-image img {
  width: 100%;
  position: absolute;
  top: -50px;
}
header .header-content {
  width: calc(100% - 40%);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
header .header-content .header-statistics-container {
  display: flex;
  gap: 50px;
}
header .header-content .header-statistics-container h2 {
  font-family: var(--font-sat-M);
}

/* Banner */
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--black-color);
}
.banner img {
  width: 100px;
  filter: invert(1);

  height: 80px;
  width: 80px;
  object-fit: contain;
}

/* default section */
.default-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 40px;
}
.default-section .sub-title {
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
}
.default-section .cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 40px;
}
.default-section .view-all {
  margin-top: 40px;
  padding: 10px 40px;
  border-radius: 100px;
  background-color: var(--input-bg);
}

/* New Arrival */

/* Top Seller */
.low-price {
  border-top: 1px var(--input-bg) solid;
  border-bottom: 1px var(--input-bg) solid;
}

/* Browse */
.browse-dress {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  padding-inline: 100px;
  background-color: var(--input-bg);
  border-radius: 15px;
  padding-block: 10px;
  gap: 10px;
  padding-block: 20px 50px;
}
.browse-dress h1 {
  font-family: var(--font-int-M);
  text-align: center;
  flex: 1 1 100%;
  margin-bottom: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.browse-dress .item {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  overflow: hidden;
  height: 200px;
  position: relative;
}
.browse-dress .item img {
  height: 100%;
  position: absolute;
  top: 0px;
}
.browse-dress .item:nth-child(2) img {
  left: 40px;
}
.browse-dress .item h5 {
  position: absolute;
  top: 10px;
  left: calc(10px * 1.5);
  font-size: 1rem;
  font-family: var(--font-sat-M);
  letter-spacing: 1px;
  z-index: 50;
}
.browse-dress .item:nth-child(odd) {
  width: 70%;
}
.browse-dress .item:nth-child(even) {
  width: calc(100% - 70% - 10px);
  /* 10px is Gap */
}

/* User Comments */

.comments-section {
  width: 100%;
}
.comments-section .comments-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.comments-section .comments-title button {
  width: 25px;
  height: 25px;
}
.comments-section .comments-container {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 80%;
  margin-top: 40px;
}
.comments-section .comments-container::-webkit-scrollbar {
  display: none;
}
.comments-section .comments-container .comment {
  border: 1px solid var(--input-bg);
  border-radius: 10px;
  min-width: 350px;
  padding: 10px 15px;
}
.comments-section .comments-container .comment .stars {
  font-size: 0.7rem;
}
.comments-section .comments-container .comment h1 {
  font-family: var(--font-sat-M);
  text-transform: capitalize;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.comments-section .comments-container .comment h1 i {
  font-size: 0.8rem;
  color: green;
}
.comments-section .comments-container .comment p {
  font-size: 0.85rem;
  margin-top: 5px;
}

/* Banner */
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--black-color);
}
.banner img {
  width: 100px;
  filter: invert(1);

  height: 80px;
  width: 80px;
  object-fit: contain;
}
