.product-overview {
  display: flex;
  justify-content: space-evenly;

  /* background-color: red; */
  padding-block: 50px;
  width: 100%;
}
.product-overview .right-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.product-overview .right-side .order-controls {
  background-color: var(--input-bg);
  border-radius: 100px;
  display: flex;
  gap: 5px;
}
.product-overview .right-side .order-controls .quentity-selector {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-overview .right-side .order-controls .quentity-selector button {
  border-radius: 100%;
  width: 40px;
  font-size: 0.7rem;
  height: 40px;
}
.product-overview .right-side .order-controls .quentity-selector span {
  font-family: sans-serif;
}
.product-overview .right-side .order-controls .buy-btn {
  width: 100%;
}
.product-overview .right-side .product-colors .colors {
  display: flex;
  gap: 8px;
}
.product-overview .right-side .product-colors .colors input {
  appearance: none;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border: solid lightgray 1px;
}
.product-overview .right-side .product-sizes .sizes {
  display: flex;
  gap: 10px;
}
.product-overview .right-side .product-sizes .sizes button {
  background-color: var(--input-bg);
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.product-overview .all-images {
  display: flex;
  gap: 10px;
}
.product-overview .all-images .all-side-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-overview .all-images .all-side-images div {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.product-overview .all-images .all-side-images div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-overview .all-images .main-image {
  border-radius: 10px;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.product-overview .all-images .main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
/* Phone & Mini Tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .product-overview {
    flex-direction: column;
    align-items: center;
  }
  .product-overview .right-side {
    width: 80%;
  }
}
/* Styles for Phones */
@media (max-width: 479px) {
  .product-overview {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .product-overview .all-images {
    flex-direction: column-reverse;
    align-items: center;
    width: 85%;
  }
  .product-overview .all-images .main-image {
    width: 100%;
    height: 400px;
  }
  .product-overview .all-images .all-side-images {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  .product-overview .all-images .all-side-images div {
    width: 120px;
    height: 120px;
  }
  .product-overview .right-side {
    width: 80%;
  }
}
